aiohappyeyeballs==2.6.1 ; python_version >= "3.12" and python_version < "3.13"
aiohttp==3.11.18 ; python_version >= "3.12" and python_version < "3.13"
aiosignal==1.3.2 ; python_version >= "3.12" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "3.13"
anyio==4.9.0 ; python_version >= "3.12" and python_version < "3.13"
argilla==2.8.0 ; python_version >= "3.12" and python_version < "3.13"
asyncpg==0.30.0 ; python_version >= "3.12" and python_version < "3.13"
attrs==25.3.0 ; python_version >= "3.12" and python_version < "3.13"
aws-lambda-powertools[tracer]==3.11.0 ; python_version >= "3.12" and python_version < "3.13"
aws-xray-sdk==2.14.0 ; python_version >= "3.12" and python_version < "3.13"
boto3==1.38.9 ; python_version >= "3.12" and python_version < "3.13"
botocore==1.38.9 ; python_version >= "3.12" and python_version < "3.13"
certifi==2025.4.26 ; python_version >= "3.12" and python_version < "3.13"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "3.13"
chardet==5.2.0 ; python_version >= "3.12" and python_version < "3.13"
charset-normalizer==3.4.2 ; python_version >= "3.12" and python_version < "3.13"
click==8.1.8 ; python_version >= "3.12" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.13" and platform_system == "Windows"
cryptography==44.0.3 ; python_version >= "3.12" and python_version < "3.13"
dataclasses-json==0.6.7 ; python_version >= "3.12" and python_version < "3.13"
datasets==3.5.1 ; python_version >= "3.12" and python_version < "3.13"
deprecated==1.2.18 ; python_version >= "3.12" and python_version < "3.13"
dill==0.3.8 ; python_version >= "3.12" and python_version < "3.13"
et-xmlfile==2.0.0 ; python_version >= "3.12" and python_version < "3.13"
filelock==3.18.0 ; python_version >= "3.12" and python_version < "3.13"
filetype==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
frozenlist==1.6.0 ; python_version >= "3.12" and python_version < "3.13"
fsspec==2025.3.0 ; python_version >= "3.12" and python_version < "3.13"
fsspec[http]==2025.3.0 ; python_version >= "3.12" and python_version < "3.13"
greenlet==3.2.1 ; python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.12"
h11==0.16.0 ; python_version >= "3.12" and python_version < "3.13"
httpcore==1.0.9 ; python_version >= "3.12" and python_version < "3.13"
httpx-sse==0.4.0 ; python_version >= "3.12" and python_version < "3.13"
httpx==0.26.0 ; python_version >= "3.12" and python_version < "3.13"
huggingface-hub==0.30.2 ; python_version >= "3.12" and python_version < "3.13"
idna==3.10 ; python_version >= "3.12" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.12" and python_version < "3.13"
joblib==1.5.0 ; python_version >= "3.12" and python_version < "3.13"
jsonpatch==1.33 ; python_version >= "3.12" and python_version < "3.13"
jsonpointer==3.0.0 ; python_version >= "3.12" and python_version < "3.13"
langchain-aws==0.2.22 ; python_version >= "3.12" and python_version < "3.13"
langchain-community==0.3.23 ; python_version >= "3.12" and python_version < "3.13"
langchain-core==0.3.58 ; python_version >= "3.12" and python_version < "3.13"
langchain-postgres==0.0.14 ; python_version >= "3.12" and python_version < "3.13"
langchain-text-splitters==0.3.9 ; python_version >= "3.12" and python_version < "3.13"
langchain==0.3.25 ; python_version >= "3.12" and python_version < "3.13"
langsmith==0.3.42 ; python_version >= "3.12" and python_version < "3.13"
lxml==5.4.0 ; python_version >= "3.12" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "3.13"
markdown==3.8 ; python_version >= "3.12" and python_version < "3.13"
marshmallow==3.26.1 ; python_version >= "3.12" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.13"
msg-parser==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
multidict==6.4.3 ; python_version >= "3.12" and python_version < "3.13"
multiprocess==0.70.16 ; python_version >= "3.12" and python_version < "3.13"
mypy-extensions==1.1.0 ; python_version >= "3.12" and python_version < "3.13"
nltk==3.8.1 ; python_version >= "3.12" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "3.13"
olefile==0.47 ; python_version >= "3.12" and python_version < "3.13"
openpyxl==3.1.5 ; python_version >= "3.12" and python_version < "3.13"
orjson==3.10.18 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation != "PyPy"
packaging==24.2 ; python_version >= "3.12" and python_version < "3.13"
pandas==2.2.3 ; python_version >= "3.12" and python_version < "3.13"
pdf2image==1.17.0 ; python_version >= "3.12" and python_version < "3.13"
pdfminer-six==20250416 ; python_version >= "3.12" and python_version < "3.13"
pgvector==0.3.6 ; python_version >= "3.12" and python_version < "3.13"
pillow==11.2.1 ; python_version >= "3.12" and python_version < "3.13"
propcache==0.3.1 ; python_version >= "3.12" and python_version < "3.13"
psycopg-binary==3.2.7 ; implementation_name != "pypy" and python_version >= "3.12" and python_version < "3.13"
psycopg-pool==3.2.6 ; python_version >= "3.12" and python_version < "3.13"
psycopg==3.2.7 ; python_version >= "3.12" and python_version < "3.13"
psycopg[binary]==3.2.7 ; python_version >= "3.12" and python_version < "3.13"
pyarrow==20.0.0 ; python_version >= "3.12" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.12" and python_version < "3.13"
pydantic-core==2.33.2 ; python_version >= "3.12" and python_version < "3.13"
pydantic-settings==2.9.1 ; python_version >= "3.12" and python_version < "3.13"
pydantic==2.11.4 ; python_version >= "3.12" and python_version < "3.13"
pygments==2.19.1 ; python_version >= "3.12" and python_version < "3.13"
pypandoc==1.15 ; python_version >= "3.12" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.13"
python-docx==1.1.2 ; python_version >= "3.12" and python_version < "3.13"
python-dotenv==1.1.0 ; python_version >= "3.12" and python_version < "3.13"
python-magic==0.4.27 ; python_version >= "3.12" and python_version < "3.13"
python-pptx==1.0.2 ; python_version >= "3.12" and python_version < "3.13"
pytz==2025.2 ; python_version >= "3.12" and python_version < "3.13"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "3.13"
regex==2024.11.6 ; python_version >= "3.12" and python_version < "3.13"
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.12" and python_version < "3.13"
rich==14.0.0 ; python_version >= "3.12" and python_version < "3.13"
s3transfer==0.12.0 ; python_version >= "3.12" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "3.13"
sqlalchemy==2.0.40 ; python_version >= "3.12" and python_version < "3.13"
standardwebhooks==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
tabulate==0.9.0 ; python_version >= "3.12" and python_version < "3.13"
tenacity==9.1.2 ; python_version >= "3.12" and python_version < "3.13"
tqdm==4.67.1 ; python_version >= "3.12" and python_version < "3.13"
types-deprecated==1.2.15.20250304 ; python_version >= "3.12" and python_version < "3.13"
types-python-dateutil==2.9.0.20241206 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.13.2 ; python_version >= "3.12" and python_version < "3.13"
typing-inspect==0.9.0 ; python_version >= "3.12" and python_version < "3.13"
typing-inspection==0.4.0 ; python_version >= "3.12" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "3.13"
unstructured==0.7.12 ; python_version >= "3.12" and python_version < "3.13"
urllib3==2.4.0 ; python_version >= "3.12" and python_version < "3.13"
wrapt==1.17.2 ; python_version >= "3.12" and python_version < "3.13"
xlrd==2.0.1 ; python_version >= "3.12" and python_version < "3.13"
xlsxwriter==3.2.3 ; python_version >= "3.12" and python_version < "3.13"
xxhash==3.5.0 ; python_version >= "3.12" and python_version < "3.13"
yarl==1.20.0 ; python_version >= "3.12" and python_version < "3.13"
zstandard==0.23.0 ; python_version >= "3.12" and python_version < "3.13"
