# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0
aws-lambda-powertools[tracer]~=3.11.0

langchain-community~=0.3.23
langchain-postgres~=0.0.14
langchain-aws~=0.2.22
psycopg[binary]~=3.2

unstructured==0.7.6
nltk~=3.8.1
